<!DOCTYPE html>
<html lang="en">
<head>
  <title>SkyCrypt</title>
  <% if (error) { %> <meta name="robots" content="noindex" /> <% } %>
  <% const description = "A beautiful site for sharing your SkyBlock profile ðŸ£" %>
  <meta name="description" content="<%= description %>">
  <link rel="icon" href="/resources/img/logo_square.svg" sizes="any" type="image/svg+xml">
  <meta property="og:image" content="/resources/img/logo_square.svg">
  <meta property="og:title" content="SkyBlock Stats">
  <meta property="og:description" content="<%= description %>">
<%- include('../includes/resources') %>
  <link rel="prefetch" href="/resources/img/inventory/items.webp?v14">
  <link rel="prefetch" href="/resources/css/inventory.css?<%- fileHashes.css['inventory.css'] %>">
</head>
  <body class="page-index">
    <%- include('../includes/header') %>
    <main class="grid">
      <form class="lookup-player">
        <p>Show SkyBlock stats for</p>
        <input name="ign" <% if(player){ %> value="<%= player %>" <% }%> type="search" enterkeyhint="go" placeholder="Enter username" aria-label="username" autofocus required>
        <button type="submit" class="big-green-button">Show me</button>
        <%# <p>or take me to a <a href="/random/stats">random profile</a>.</p> %>
      </form>
      <% if(extra.cacheOnly) { %>
        <figure class="banner error">
            <figcaption>Cache Only Mode!</figcaption>
            <p>
              SkyCrypt is <strong>only</strong> showing the last known state of users' profiles which may be outdated due to API maintenance.<br>
              <%# <i>If a profile wasn't viewed/cached before, it can't be viewed.</i><br> %>
              <br>
              For more info about Hypixel outages visit the official <a href="https://status.hypixel.net/" target="_blank" rel="noreferrer"> Hypixel Status</a>.
            </p>
        </figure>
      <% } %>
      <div id="error_box_wrapper" <% if (error) { %>class="show-error"<% } %>>
        <div id="error_box">
          <div id="error_top">
            <div id="error_title">Error</div>
            <div id="error_text">
              <%= error instanceof Error ? error.message : String(error) %><br>
            </div>
          </div>
          <div id="error_bottom">
            <% if (error instanceof Error && error.message.includes("Key throttle.")) { %>
            <div id="error_subtext">
              This happens when the site reaches the Hypixel API limit.<br>
              Please try again in a minute.
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <a href="<%= promotion.url %>" target="_blank" rel="noreferrer" class="external-app form-banner">
        <div class="external-app-icon monochrome" style="background-image: url(<%= promotion.image %>)"></div>
        <div class="external-app-name"><%- promotion.title %></div>
        <div class="external-app-description"><%- promotion.description %></div>
      </a>
      <% if(extra.favorites?.length){
      for(let profile of extra.favorites){
      if(profile.error) continue;
      const lastUpdated = profile.last_updated;
      let lastUpdatedText = "";
      const diff = (+new Date() - lastUpdated) / 1000;
      if(diff < 10 * 60)
        lastUpdatedText = `<span class="stat-value">Currently online</span>`;
      else
        lastUpdatedText = `<span class="stat-name">Last online: </span><span class="stat-value">${moment(lastUpdated).fromNow()}</span>`;
      %>
      <a href="/stats/<%= profile.uuid %>" class="top-profile">
        <img src="https://crafatar.com/avatars/<%= extra.isFoolsDay ? 'bd482739767c45dca1f8c33c40530952' : profile.uuid %>?size=8&overlay" class="profile-avatar" alt="">
        <div class="profile-name">
          <%= profile.username %>
          <% if('emojiImg' in profile){ %>
            <img class="emoji" draggable="false" src="<%= profile.emojiImg %>" alt="<%= profile.emojiImg.split('/').pop().split('.')[0] %>">
          <% }else if('emoji' in profile){ %>
            <%-" " + extra.twemoji.parse(profile.emoji) %>
          <% } %>
        </div>
        <div class="profile-last-online"><%- lastUpdatedText %></div>
        <svg class="profile-rank" viewBox="0 0 24 24">
          <title>Favorited profile</title>
          <%# mdi-star %>
          <path fill="currentColor" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
        </svg>
      </a>
      <% }}else{ %>
      <span class="top-profile">
        <img src="/resources/img/icons/q.png" class="profile-avatar" alt="">
        <div class="profile-name">No favorites set!</div>
        <div class="profile-last-online">Why don't you set a favorite?</div>
      </span>
      <% } %>

      <%
        const developerRoles = {
          MAINTAINER: {
            svgPath: /* mdi-xml */ "M12.89,3L14.85,3.4L11.11,21L9.15,20.6L12.89,3M19.59,12L16,8.41V5.58L22.42,12L16,18.41V15.58L19.59,12M1.58,12L8,5.58V8.41L4.41,12L8,15.58V18.41L1.58,12Z",
            title: "SkyCrypt Maintainer"
          },
          HOST: {
            svgPath: /* mdi-dns-outline */ "M19,15V19H5V15H19M20,13H4A1,1 0 0,0 3,14V20A1,1 0 0,0 4,21H20A1,1 0 0,0 21,20V14A1,1 0 0,0 20,13M7,18.5A1.5,1.5 0 0,1 5.5,17A1.5,1.5 0 0,1 7,15.5A1.5,1.5 0 0,1 8.5,17A1.5,1.5 0 0,1 7,18.5M19,5V9H5V5H19M20,3H4A1,1 0 0,0 3,4V10A1,1 0 0,0 4,11H20A1,1 0 0,0 21,10V4A1,1 0 0,0 20,3M7,8.5A1.5,1.5 0 0,1 5.5,7A1.5,1.5 0 0,1 7,5.5A1.5,1.5 0 0,1 8.5,7A1.5,1.5 0 0,1 7,8.5Z",
            title: "SkyCrypt Facilitator"
          },
          CONTRIBUTOR: {
            svgPath: /* mdi-source-pull */ "M6,3A3,3 0 0,1 9,6C9,7.31 8.17,8.42 7,8.83V15.17C8.17,15.58 9,16.69 9,18A3,3 0 0,1 6,21A3,3 0 0,1 3,18C3,16.69 3.83,15.58 5,15.17V8.83C3.83,8.42 3,7.31 3,6A3,3 0 0,1 6,3M6,5A1,1 0 0,0 5,6A1,1 0 0,0 6,7A1,1 0 0,0 7,6A1,1 0 0,0 6,5M6,17A1,1 0 0,0 5,18A1,1 0 0,0 6,19A1,1 0 0,0 7,18A1,1 0 0,0 6,17M21,18A3,3 0 0,1 18,21A3,3 0 0,1 15,18C15,16.69 15.83,15.58 17,15.17V7H15V10.25L10.75,6L15,1.75V5H17A2,2 0 0,1 19,7V15.17C20.17,15.58 21,16.69 21,18M18,17A1,1 0 0,0 17,18A1,1 0 0,0 18,19A1,1 0 0,0 19,18A1,1 0 0,0 18,17Z",
            title: "SkyCrypt Contributor"
          },
          ERROR: {
            svgPath: /* mdi-alert-circle */ "M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z",
            title: "Error"
          }
        }
      %>

      <% for(const profile of extra.devs){ %>
        <a href="/stats/<%= profile.uuid %>" class="top-profile">
          <img src="https://crafatar.com/avatars/<%= extra.isFoolsDay ? 'bd482739767c45dca1f8c33c40530952' : profile.uuid %>?size=8&overlay" class="profile-avatar" alt="">
          <div class="profile-name">
            <%= profile.username %>
            <% if('emojiImg' in profile){ %>
              <img class="emoji" draggable="false" src="<%= profile.emojiImg %>" alt="<%= profile.emojiImg.split('/').pop().split('.')[0] %>">
            <% }else if('emoji' in profile){ %>
              <%- extra.twemoji.parse(profile.emoji) %>
            <% } %>
          </div>
          <div class="profile-last-online"><%- extra.twemoji.parse(profile.message) %></div>
          <svg class="profile-rank" viewBox="0 0 24 24">
            <title><%= developerRoles[profile.type]?.title || developerRoles.ERROR.title %></title>
            <path fill="currentColor" d="<%= developerRoles[profile.type]?.svgPath || developerRoles.ERROR.svgPath %>" />
          </svg>
        </a>

      <% } %>
    </main>
    <%- include('../includes/footer'); %>
    <script>
      <% if (error) { %>
        console.error(`An error occurred with message: "<%= error instanceof Error ? error.message : String(error) %>"`);
      <% } %>

      const mainUsernameInput = document.querySelector('main .lookup-player input');
      const headerUsernameInput = document.querySelector('header .lookup-player input');
      const headerUsernameForm = document.querySelector('header .lookup-player');

      mainUsernameInput.addEventListener('input', (e) => {
        headerUsernameInput.value = mainUsernameInput.value;
      });

      headerUsernameInput.addEventListener('input', (e) => {
        mainUsernameInput.value = headerUsernameInput.value;
      });

      let smallUserSearch = false;

      window.addEventListener('scroll', checkSearchboxOverlap);
      window.addEventListener('resize', checkSearchboxOverlap);
      function checkSearchboxOverlap() {
        if (mainUsernameInput.getBoundingClientRect().bottom < 48 && smallUserSearch === false) {
          headerUsernameForm.classList.add('show-user-search');
          smallUserSearch = true;

          if (mainUsernameInput === document.activeElement) {
            headerUsernameInput.focus({ preventScroll: true });
          }
        } else if (mainUsernameInput.getBoundingClientRect().top >= 48 && smallUserSearch) {
          headerUsernameForm.classList.remove('show-user-search');
          smallUserSearch = false;

          if (headerUsernameInput === document.activeElement) {
            mainUsernameInput.focus({ preventScroll: true });
          }
        }
      }
    </script>
  </body>
</html>
