<!DOCTYPE html>
<html>
<head>
    <%- include('../includes/resources') %>
    <title>SkyBlock Stats</title>
    <link rel="shortcut icon" href="/resources/img/logo_square.png" type="image/png">
    <meta charset="utf-8">
    <meta property="og:image" content="/resources/img/logo_square.png">
    <meta property="og:title" content="SkyBlock Stats">
    <meta property="og:description" content="A beautiful site for sharing your SkyBlock profile 🌹">
    <style>
    @media (max-width: 480px){
        header{
            height: 45px;
            text-align: center;
            width: 100vw;
        }

        header::after{
            top: 45px;
        }

        #info_box{
            top: 45px;
        }
    }
    </style>
</head>
    <body>
        <%- include('../includes/header') %>
        <div id="enter_player_box_wrapper">
            <div id="enter_player_box">
                <p>Show SkyBlock stats for</p>
                <input <% if(player){ %> value="<%= player %>" <% }%> id="inp_enter_username" type="text" placeholder="Enter username">
                <a href="<% if(player){ %>/stats/<%= player %><% }%>" id="goto_target_username">Show me</a>
            </div>
        </div>
        <div id="error_box_wrapper" <% if(error){ %>class="show-error"<% } %>>
            <div id="error_box">
                <div id="error_title">Error</div><div id="error_text"><%= error %></div>
            </div>
        </div>
        <div id="top_profiles_box_wrapper">
            <% for(const profile of extra.top_profiles){ %>
                <a href="/stats/<%= profile.uuid %>/<%= profile.profile_id %>" class="top-profile">
                    <img src="https://minotar.net/helm/<%= profile.uuid %>/128" class="profile-avatar">
                    <div class="profile-name"><%= profile.username %></div><br>
                    <div class="profile-views">Views: <%= helper.formatNumber(profile.total) %></div>
                </a>
            <% } %>
        </div>
        <script src="/resources/js/js.cookie.min.js"></script>
        <script>
            let targetUsername = document.getElementById("inp_enter_username");

            targetUsername.addEventListener('keyup', function(e){
                let playerName = targetUsername.value;

                if(playerName.trim().length == 0)
                    return;

                if(e.keyCode == 13)
                    document.location = '/stats/' + playerName;
                else
                    document.querySelector('#goto_target_username').href = '/stats/' + playerName;
            });

            let scrollLock = false;
            let currentOffset = 10;
            let limit = 20;

            let reachedEnd = false;

            window.addEventListener('scroll', function(){
                if(window.innerHeight + window.scrollY > document.documentElement.offsetHeight - 100 && !scrollLock && !reachedEnd){
                    scrollLock = true;

                    let topRequest = new XMLHttpRequest();

                    topRequest.onload = function(){
                        let json = JSON.parse(this.responseText);

                        if(json.length == 0)
                            reachedEnd = true;

                        json.forEach(function(profile){
                            let profileElement = document.createElement('a');
                            let profileAvatar = document.createElement('img');
                            let profileName = document.createElement('div');
                            let profileViews = document.createElement('div');

                            profileAvatar.src = 'https://minotar.net/helm/' + profile.uuid + '/128';
                            profileName.innerHTML = profile.username;
                            profileViews.innerHTML = 'Views: ' + formatNumber(profile.total);

                            profileAvatar.className = 'profile-avatar';
                            profileName.className = 'profile-name';
                            profileViews.className = 'profile-views';

                            profileElement.className = 'top-profile';

                            profileElement.appendChild(profileAvatar);
                            profileElement.appendChild(profileName);
                            profileElement.appendChild(profileViews);

                            profileElement.href = '/stats/' + profile.uuid + '/' + profile.profile_id;

                            document.querySelector('#top_profiles_box_wrapper').appendChild(profileElement);
                        });

                        scrollLock = false;
                        currentOffset += limit;
                    }

                    topRequest.open("GET", '/api/topViews?offset=' + currentOffset + '&limit=' + limit);
                    topRequest.send();
                }
            });
        </script>
    </body>
</html>
