<!DOCTYPE html>
<html lang="en">
<head>
    <title>SkyCrypt</title>
    <meta name="description" content="A beautiful site for sharing your SkyBlock profile ðŸ£">
    <link rel="shortcut icon" href="/resources/img/logo_square.png?v2" type="image/png">
    <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
    <meta property="og:image" content="/resources/img/logo_square.png?v2">
    <meta property="og:title" content="SkyBlock Stats">
    <meta property="og:description" content="A beautiful site for sharing your SkyBlock profile ðŸ£">
<%- include('../includes/resources') %>
    <style>
    @media (max-width: 480px){
        #search_user{
            display: none;
        }

        header{
            height: 45px;
            text-align: center;
            width: 100vw;
        }

        header::after{
            top: 45px;
        }

        #info_box{
            top: 45px;
        }
    }
    </style>
</head>
    <body>
        <%- include('../includes/header') %>
        <div id="enter_player_box_wrapper">
            <div id="enter_player_box">
                <p>Show SkyBlock stats for</p>
                <input <% if(player){ %> value="<%= player %>" <% }%> id="inp_enter_username" type="text" placeholder="Enter username">
                <a href="<% if(player){ %>/stats/<%= player %><% }else{ %>#<% } %>" id="goto_target_username">Show me</a>
                <!--<p>or take me to a <a href="/random/stats">random profile</a>.</p>-->
            </div>
        </div>
        <div id="error_box_wrapper" <% if(error){ %>class="show-error"<% } %>>
            <div id="error_box">
                <div id="error_top">
                    <div id="error_title">Error</div>
                    <div id="error_text">
                        <%= error %><br>
                    </div>
                </div>
                <div id="error_bottom">
                    <% if(typeof error === 'string' && error.includes("Key throttle.")){ %>
                    <div id="error_subtext">
                        This happens when the site reaches the Hypixel API limit.<br>
                        Please try again in a minute.
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="top_profiles_box_wrapper">
            <% if(extra.favorites && !extra.favorites.error){ %>
            <% let profile = extra.favorites
            const lastUpdated = profile.last_updated;
            let lastUpdatedText = "";
            const diff = (+new Date() - lastUpdated) / 1000;
            if(diff < 10 * 60)
                lastUpdatedText = `<span class="stat-value">Currently online</span>`;
            else
                lastUpdatedText = `<span class="stat-name">Last online: </span><span class="stat-value">${moment(lastUpdated).fromNow()}</span>`;
            %>
            <a href="/stats/<%= profile.uuid %>" class="top-profile">
                <img src="https://crafatar.com/avatars/<%= profile.uuid %>?size=128&overlay" class="profile-avatar">
                <div class="profile-name"><%= profile.username %><% if('emojiImg' in profile){ %><img class="emoji" draggable="false" src="<%= profile.emojiImg %>"><% }else if('emoji' in profile){ %><%- extra.twemoji.parse(profile.emoji) %><% } %></div><br>
                <div class="profile-last-online"><%- lastUpdatedText %></div>
                <div class="profile-rank"><%- extra.twemoji.parse("â˜…") %></div>
            </a>
            <% }else{ %>
            <a class="top-profile">
                <img src="/resources/img/icons/q.png" class="profile-avatar">
                <div class="profile-name">No favorite set!</div><br>
                <div class="profile-last-online">Why don't you set a favorite?</div>
            </a>
            <% } %>

            <% for(const profile of extra.devs){ %>
                <% let message = profile.username == "Shiiyu" ?  `<span class="stat-name">Last online: </span><span class="stat-value">January 1st, 1970</span>` : extra.twemoji.parse(profile.message)%>
                <a href="/stats/<%= profile.uuid %>" class="top-profile">
                    <img src="https://crafatar.com/avatars/<%= profile.uuid %>?size=128&overlay" class="profile-avatar">
                    <div class="profile-name"><%= profile.username %><% if('emojiImg' in profile){ %><img class="emoji" draggable="false" src="<%= profile.emojiImg %>"><% }else if('emoji' in profile){ %><%- extra.twemoji.parse(profile.emoji) %><% } %></div><br>
                    <div class="profile-last-online"><%- message %></div>
                </a>

            <% } %>
        </div>
        <%- include('../includes/footer'); %>
        <script src="/resources/js/js.cookie.min.js"></script>
        <script>
            <% if(error){ %>
                console.log("An error occured with message: \"<%= error %>\"");
            <% } %>

            const targetUsername = document.getElementById("inp_enter_username");
            const searchUser = document.getElementById('search_user');
            const inputSearchUser = document.getElementById('inp_search_user');
            const btnSearchUser = document.getElementById('btn_search_user');

            function updateUserTarget(e){
                let playerName = targetUsername.value;

                if(playerName)
                    inputSearchUser.value = playerName;

                if(e.keyCode == 13 && playerName.trim().length > 0)
                    document.location = '/stats/' + playerName;
                else
                    document.querySelector('#goto_target_username').href = '/stats/' + playerName;

                if(playerName.trim().length == 0)
                    document.querySelector('#goto_target_username').href = '#';
            }

            targetUsername.addEventListener('keyup', updateUserTarget);
            targetUsername.addEventListener('change', updateUserTarget);

            let scrollLock = false;
            let currentOffset = 10;
            let limit = 20;
            let smallUserSearch = false;

            let reachedEnd = false;

            window.addEventListener('keydown', function(e){
                if(/[a-zA-Z0-9-_ ]/.test(String.fromCharCode(e.keyCode)))
                    if(smallUserSearch)
                        inputSearchUser.focus();
                    else
                        targetUsername.focus();
            });

            window.addEventListener('scroll', checkSearchboxOverlap);
            window.addEventListener('resize', checkSearchboxOverlap);
            function checkSearchboxOverlap() {
                if(targetUsername.getBoundingClientRect().bottom < 48 && smallUserSearch === false){
                    searchUser.classList.add('show-user-search');
                    smallUserSearch = true;

                    searchUser.setAttribute('tabindex', '0');
                    btnSearchUser.setAttribute('tabindex', '0');

                    if(targetUsername === document.activeElement) {
                        inputSearchUser.focus();
                    }
                } else if(targetUsername.getBoundingClientRect().top >= 48 && smallUserSearch){
                    searchUser.classList.remove('show-user-search');
                    smallUserSearch = false;

                    targetUsername.value = inputSearchUser.value;

                    searchUser.setAttribute('tabindex', '-1');
                    btnSearchUser.setAttribute('tabindex', '-1');

                    if(inputSearchUser === document.activeElement) {
                        targetUsername.focus();
                    }
                }

                /*

                - Hide Views for now due to abuse -

                if(window.innerHeight + window.scrollY > document.documentElement.offsetHeight - 100 && !scrollLock && !reachedEnd){
                    scrollLock = true;

                    let topRequest = new XMLHttpRequest();

                    topRequest.onload = function(){
                        let json = JSON.parse(this.responseText);

                        if(json.length == 0)
                            reachedEnd = true;

                        json.forEach(function(profile, index){
                            let profileElement = document.createElement('a');
                            let profileAvatar = document.createElement('img');
                            let profileName = document.createElement('div');
                            let profileViews = document.createElement('div');
                            let profileRank = document.createElement('div');

                            profileAvatar.src = 'https://crafatar.com/avatars/' + profile.uuid + '?size=128&overlay';
                            profileName.innerHTML = profile.userInfo.username;
                            profileViews.innerHTML = 'Views: ' + formatNumber(profile.total, true);
                            profileRank.innerHTML = '#' + (currentOffset + index + 1);

                            profileAvatar.className = 'profile-avatar';
                            profileName.className = 'profile-name';
                            profileViews.className = 'profile-views';
                            profileRank.className = 'profile-rank';

                            profileElement.className = 'top-profile';

                            profileElement.appendChild(profileAvatar);
                            profileElement.appendChild(profileName);
                            profileElement.appendChild(profileViews);
                            profileElement.appendChild(profileRank);

                            profileElement.href = '/stats/' + profile.uuid;

                            document.querySelector('#top_profiles_box_wrapper').appendChild(profileElement);
                        });

                        scrollLock = false;
                        currentOffset += limit;
                    }

                    topRequest.open("GET", '/api/topViews?offset=' + currentOffset + '&limit=' + limit);
                    topRequest.send();
                }

                */
            }
        </script>
    </body>
</html>
