<!DOCTYPE html>
<html lang="en">
<head>
    <title>SkyCrypt</title>
    <% if(error){ %> <meta name="robots" content="noindex" /> <% } %>
    <% const description = "A beautiful site for sharing your SkyBlock profile ðŸ£" %>
    <meta name="description" content="<%= description %>">
    <link rel="icon" href="/resources/img/logo_square.svg" sizes="any" type="image/svg+xml">
    <meta property="og:image" content="/resources/img/logo_square.svg">
    <meta property="og:title" content="SkyBlock Stats">
    <meta property="og:description" content="<%= description %>">
<%- include('../includes/resources') %>
</head>
    <body class="page-index">
        <%- include('../includes/header') %>
        <main class="grid">
            <form class="lookup-player">
                <p>Show SkyBlock stats for</p>
                <input name="ign" <% if(player){ %> value="<%= player %>" <% }%> type="search" enterkeyhint="go" placeholder="Enter username" autofocus required>
                <button type="submit" class="big-green-button">Show me</button>
                <%# <p>or take me to a <a href="/random/stats">random profile</a>.</p> %>
            </form>
            <div id="error_box_wrapper" <% if(error){ %>class="show-error"<% } %>>
                <div id="error_box">
                    <div id="error_top">
                        <div id="error_title">Error</div>
                        <div id="error_text">
                            <%= error %><br>
                        </div>
                    </div>
                    <div id="error_bottom">
                        <% if(typeof error === 'string' && error.includes("Key throttle.")){ %>
                        <div id="error_subtext">
                            This happens when the site reaches the Hypixel API limit.<br>
                            Please try again in a minute.
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <a href="https://discord.gg/cNgADv2kEQ" target="_blank" rel="nofollow" class="external-app form-banner">
                <div class="external-app-icon" style="background-image: url(/resources/img/icons/discord.svg?v2)"></div>
                <div class="external-app-name"><span class="grey-text">SkyCrypt's</span> Discord</div>
                <div class="external-app-description">A simple way to get informed about current undergoings in SkyCrypt with suggestions, bug reports and support.</div>
            </a>
            <% if(extra.favorites?.length){
            for(let profile of extra.favorites){
            if(profile.error) continue;
            const lastUpdated = profile.last_updated;
            let lastUpdatedText = "";
            const diff = (+new Date() - lastUpdated) / 1000;
            if(diff < 10 * 60)
                lastUpdatedText = `<span class="stat-value">Currently online</span>`;
            else
                lastUpdatedText = `<span class="stat-name">Last online: </span><span class="stat-value">${moment(lastUpdated).fromNow()}</span>`;
            %>
            <a href="/stats/<%= profile.uuid %>" class="top-profile">
                <img src="https://crafatar.com/avatars/<%= profile.uuid %>?size=128&overlay" class="profile-avatar">
                <div class="profile-name"><%= profile.username %><% if('emojiImg' in profile){ %><img class="emoji" draggable="false" src="<%= profile.emojiImg %>"><% }else if('emoji' in profile){ %><%-" " + extra.twemoji.parse(profile.emoji) %><% } %></div><br>
                <div class="profile-last-online"><%- lastUpdatedText %></div>
                <svg class="profile-rank" viewBox="0 0 24 24">
                    <title>Favorited profile</title>
                    <%# mdi-star %>
                    <path fill="currentColor" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                </svg>
            </a>
            <% }}else{ %>
            <a class="top-profile">
                <img src="/resources/img/icons/q.png" class="profile-avatar">
                <div class="profile-name">No favorite set!</div><br>
                <div class="profile-last-online">Why don't you set a favorite?</div>
            </a>
            <% } %>

            <% for(const profile of extra.devs){ %>
                <% let message = profile.username == "Shiiyu" ?  `<span class="stat-name">Last online: </span><span class="stat-value">January 1st, 1970</span>` : extra.twemoji.parse(profile.message)%>
                <a href="/stats/<%= profile.uuid %>" class="top-profile">
                    <img src="https://crafatar.com/avatars/<%= profile.uuid %>?size=128&overlay" class="profile-avatar">
                    <div class="profile-name"><%= profile.username %><% if('emojiImg' in profile){ %><img class="emoji" draggable="false" src="<%= profile.emojiImg %>"><% }else if('emoji' in profile){ %><%- extra.twemoji.parse(profile.emoji) %><% } %></div><br>
                    <div class="profile-last-online"><%- message %></div>
                    <svg class="profile-rank" viewBox="0 0 24 24">
                        <% switch(profile.type){
                            case "DEV": %>
                            <title>Member of SkyCrypt's Team</title>
                            <%# mdi-xml %>
                            <path fill="currentColor" d="M12.89,3L14.85,3.4L11.11,21L9.15,20.6L12.89,3M19.59,12L16,8.41V5.58L22.42,12L16,18.41V15.58L19.59,12M1.58,12L8,5.58V8.41L4.41,12L8,15.58V18.41L1.58,12Z" />
                            <% break; default: %>
                            <title>Error</title>
                            <%# mdi-alert-circle %>
                            <path fill="currentColor" d="M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                        <% } %>
                    </svg>
                </a>

            <% } %>
        </main>
        <%- include('../includes/footer'); %>
        <script src="/resources/js/js.cookie.min.js"></script>
        <script>
            <% if(error){ %>
                console.log("An error occured with message: \"<%= error %>\"");
            <% } %>

            const mainUsernameInput = document.querySelector('main .lookup-player input');
            const headerUsernameInput = document.querySelector('header .lookup-player input');
            const headerUsernameForm = document.querySelector('header .lookup-player');

            mainUsernameInput.addEventListener('input', (e) => {
                headerUsernameInput.value = mainUsernameInput.value;
            });

            headerUsernameInput.addEventListener('input', (e) => {
                mainUsernameInput.value = headerUsernameInput.value;
            });
            
            let smallUserSearch = false;

            window.addEventListener('scroll', checkSearchboxOverlap);
            window.addEventListener('resize', checkSearchboxOverlap);
            function checkSearchboxOverlap() {
                if (mainUsernameInput.getBoundingClientRect().bottom < 48 && smallUserSearch === false) {
                    headerUsernameForm.classList.add('show-user-search');
                    smallUserSearch = true;

                    if (mainUsernameInput === document.activeElement) {
                        headerUsernameInput.focus({ preventScroll: true });
                    }
                } else if (mainUsernameInput.getBoundingClientRect().top >= 48 && smallUserSearch) {
                    headerUsernameForm.classList.remove('show-user-search');
                    smallUserSearch = false;

                    if (headerUsernameInput === document.activeElement) {
                        mainUsernameInput.focus({ preventScroll: true });
                    }
                }

                <%#

                - Hide Views for now due to abuse -

                let scrollLock = false;
                let currentOffset = 10;
                let limit = 20;

                let reachedEnd = false;

                if(window.innerHeight + window.scrollY > document.documentElement.offsetHeight - 100 && !scrollLock && !reachedEnd){
                    scrollLock = true;

                    let topRequest = new XMLHttpRequest();

                    topRequest.onload = function(){
                        let json = JSON.parse(this.responseText);

                        if(json.length == 0)
                            reachedEnd = true;

                        json.forEach(function(profile, index){
                            let profileElement = document.createElement('a');
                            let profileAvatar = document.createElement('img');
                            let profileName = document.createElement('div');
                            let profileViews = document.createElement('div');
                            let profileRank = document.createElement('div');

                            profileAvatar.src = 'https://crafatar.com/avatars/' + profile.uuid + '?size=128&overlay';
                            profileName.innerHTML = profile.userInfo.username;
                            profileViews.innerHTML = 'Views: ' + formatNumber(profile.total, true);
                            profileRank.innerHTML = '#' + (currentOffset + index + 1);

                            profileAvatar.className = 'profile-avatar';
                            profileName.className = 'profile-name';
                            profileViews.className = 'profile-views';
                            profileRank.className = 'profile-rank';

                            profileElement.className = 'top-profile';

                            profileElement.appendChild(profileAvatar);
                            profileElement.appendChild(profileName);
                            profileElement.appendChild(profileViews);
                            profileElement.appendChild(profileRank);

                            profileElement.href = '/stats/' + profile.uuid;

                            document.querySelector('#top_profiles_box_wrapper').appendChild(profileElement);
                        });

                        scrollLock = false;
                        currentOffset += limit;
                    }

                    topRequest.open("GET", '/api/topViews?offset=' + currentOffset + '&limit=' + limit);
                    topRequest.send();
                }

                %>
            }
        </script>
    </body>
</html>
