<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leaderboard | SkyCrypt</title>
    <meta name="description" content="A beautiful site for sharing your SkyBlock profile ðŸ£">
    <link rel="shortcut icon" href="/resources/img/logo_square.png?v2" type="image/png">
    <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
    <meta property="og:image" content="/resources/img/logo_square.png?v2">
    <meta property="og:title" content="SkyCrypt">
    <meta property="og:description" content="A beautiful site for sharing your SkyBlock profile ðŸ£">

    <%- include('../includes/resources') %>
</head>
    <body>
        <%- include('../includes/header') %>

        <div id="bg_blur_center"></div>
        <div id="wrapper_center" data-sticky-container>
            <% if(!leaderboard.success){ %>

            <% }else{ %>
                <table>
                    <% for(let lb of leaderboard.positions){ %>
                        <tr>
                            <td><%= lb.rank %></td>
                            <td><%= lb.username %></td>
                            <td><%= lb.amount %></td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </div>

        <%- include('../includes/footer'); %>
    </body>

    <script>
        const extra = <%= extra %>;
        const leaderboard = <%= leaderboard %>;
    </script>
</html>