<% 
function getDojoRank(points) {
  if (points >= 1000) return 'S'
  if (points >= 800) return 'A'
  if (points >= 600) return 'C'
  if (points >= 400) return 'D'
  return 'F'
}
%>

<% if (availableSections.islands.crimson_isle.factions === true) { %>
  <span class="stat-name">Selected Faction: </span><span class="stat-value"><%= calculated.crimson_isle.factions.selected_faction.replaceAll('mages', 'Mage').replaceAll('barbarians', 'Barbarian') %></span><br>

  <% max = calculated.crimson_isle.factions.mages_reputation >= 12000 ? 'golden-text' : '' %>
  <span class="stat-name <%= max %>">Mage Reputation: </span><span class="stat-value <%= max %>"><%= calculated.crimson_isle.factions.mages_reputation.toLocaleString() %></span><br>

  <% max = calculated.crimson_isle.factions.barbarians_reputation >= 12000 ? 'golden-text' : '' %>
  <span class="stat-name <%= max %>">Barbarian Reputation: </span><span class="stat-value <%= max %>"><%= calculated.crimson_isle.factions.barbarians_reputation.toLocaleString() %></span><br>
<% } %>

<% if (availableSections.islands.crimson_isle.kuudra === true) { %>
  <p class="stat-sub-header">Kuudra Completions</p>
  <div class="collections">
    <% for (const tier in calculated.crimson_isle.kuudra_completed_tiers) {
      const collection = calculated.crimson_isle.kuudra_completed_tiers[tier]; %>
      <div class="chip">
        <div class="chip-icon-wrapper">
          <div style="background-image:url('/head/<%= collection.head %>')" class="item-icon custom-icon"></div>
        </div>
        <div class="chip-text">
          <div class="collection-name"><span class="stat-name"><%= collection.name %> </span></div>
          <div class="collection-amount"><span class="stat-name">Kills: </span><span class="stat-value"><%= collection.completions.toLocaleString() %></span></div>
        </div>
      </div>
    <% } %>
  </div>
<% } %>

<% if (availableSections.islands.crimson_isle.dojo === true) { %>
  <p class="stat-sub-header">Dojo Completions</p>
  <% max = calculated.crimson_isle.total_dojo_points >= 7000 ? 'golden-text' : '' %>
  <span class="stat-name <%= max %>">Total Points: </span><span class="stat-value <%= max %>"><%= calculated.crimson_isle.total_dojo_points.toLocaleString() %></span>
  <br><br>
  <div class="collections">
    <% for (const type of Object.keys(calculated.crimson_isle.dojo)) {
      const dojo = calculated.crimson_isle.dojo[type] %>
      <div class="chip">
        <div class="chip-icon-wrapper">
          <div class="item-icon icon-<%= dojo.id %>_<%= dojo.damage %>"></div>
        </div>
        <div class="chip-text">
          <div class="collection-name <%= dojo.points >= 1000 ? 'max-stat' : '' %>"><span class="stat-name"><%= dojo.name %> </span></div>
          <div class="collection-amount">
            <span class="stat-name">Points: </span><span class="stat-value"><%= dojo.points.toLocaleString() %></span><br>
            <span class="stat-name">Rank: </span><span class="stat-value"><%= getDojoRank(dojo.points) %></span><br>
            <span class="stat-name">Time: </span><span class="stat-value"><%= (dojo.time / 1000).toLocaleString() %> Seconds</span>
          </div>
        </div>
      </div>
    <% } %>
  </div>
<% } %>
