<% 
// NOTE: importing itemIcon seems to not work
function itemIcon(item, classes) { %>
  <div <% if (item.texture_path) { %> style='background-image: url("<%= item.texture_path %>")' <% } %> class="
      <%= classes.join(" ") %>
      item-icon
      <% if (isEnchanted(item)) { %>is-enchanted <% } %>
      <% if (item.texture_path) { %>custom-icon<% } %>
      <% if (item.Damage != 0) { %>icon-<%= item.id %>_0<% } %>
      icon-<%= item.id %>_<%= item.Damage %>">
  </div>
<% }

function isEnchanted(item) {
  // heads
  if ([397].includes(item.id)) {
    return false;
  }

  // enchanted book, bottle o' enchanting, nether star
  if ([403, 384, 399].includes(item.id)) {
    return true;
  }

  // potions potions with actual effects (not water bottles)
  if (item.id === 373 && item.Damage !== 0) {
    return true;
  }

  if ("tag" in item && Array.isArray(item.tag.ench)) {
    return true;
  }

  if (item.glowing) {
    return true;
  }

  return false;
}
%>

<div class="stat-container stat-armor">
  <a class="stat-anchor" id="Armor"></a>
  <% if (availableSections.armor.armor === true) { %>
  <h2 class="stat-header">Armor</h2>
  <div class="stat-content">
    <% if (items.armor.length == 0) { %>
      <div class="no-access"><%= calculated.display_name %> doesn't have any armor equipped.</div>
    <% } else { %>
      <% if (items.armor_set) { %>
        <p class="stat-raw-values">
          <span class="stat-name">Set: </span><span class="stat-value piece-<%= items.armor_set_rarity %>-fg"><%= items.armor_set %></span>
        </p>
      <% } %>

      <div class="pieces">
        <% for (const item of items.armor.slice().reverse()) { %>
        <div tabindex="0" data-item-id="<%= item.itemId %>" class="rich-item piece piece-<%= item.rarity %>-bg <%= getRarityUpgradeClass(item) %>">
          <% if (rarityOrder.indexOf(item.rarity) <= 4) { %>
            <div class="piece-shine"></div>
          <% } %>

          <% itemIcon(item, ['piece-icon']); %>
        </div>
        <% } %>
        <div data-bonus-stats="armor"></div>
      </div>
    <% } %>
  </div>
  <% } %>

  <% if (availableSections.armor.equipment === true) { %>
  <p class="stat-sub-header">Equipment</p>
  <% if (Object.keys(items.equipment).length == 0) { %>
  <div class="no-access"><%= calculated.display_name %> doesn't have any equipment equipped.</div>
  <% }else{ %>
  <div class="pieces">
    <% for(const item of items.equipment.slice().reverse()) { %>
    <div tabindex="0" data-item-id="<%= item.itemId %>" class="rich-item piece piece-<%= item.rarity %>-bg <%= getRarityUpgradeClass(item) %>">
      <% if (rarityOrder.indexOf(item.rarity) <= 4) { %>
      <div class="piece-shine"></div>
      <% } %>

      <% itemIcon(item, ['piece-icon']); %>
    </div>
    <% } %>
    <div data-bonus-stats="equipment"></div>
  </div>
  <% } %>
  <% } %>


  <% if (availableSections.armor.wardrobe === true) { %>
  <% if (items.wardrobe.length > 0) { %>
  <p class="stat-sub-header">Wardrobe</p>
  <div class="pieces wardrobe">
    <% for(const set of items.wardrobe) { %>
    <div class="wardrobe-set">
      <% for(const [index, item] of set.entries()) { %>
      <% if (item) { %>
      <div tabindex="0" data-item-id="<%= item.itemId %>" class="rich-item piece piece-<%= item.rarity %>-bg <%= getRarityUpgradeClass(item) %> index-<%= index %>">
        <% if (rarityOrder.indexOf(item.rarity) <= 4) { %>
        <div class="piece-shine"></div>
        <% } %>

        <% itemIcon(item, ['piece-icon']); %>
      </div>
      <% } else { %>
      <div class="piece armor-placeholder index-<%= index %>">
        <div class="piece-icon item-icon custom-icon"></div>
      </div>
      <% } %>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } %>
  <% } %>
</div>