<div id="not_supported">
    Your Browser is not supported. Please get <a href="https://www.mozilla.org/firefox/new">Mozilla Firefox</a> or <a href="https://www.google.com/chrome/">Google Chrome</a>.
</div>
<script>
    if(navigator.userAgent.indexOf("MSIE") >= 0){
        document.getElementById('not_supported').className = 'show-not-supported';
    }
</script>
<div id="status-bar" style="display: none;"></div>
<script>
    const iOS = [
        'iPad Simulator',
        'iPhone Simulator',
        'iPod Simulator',
        'iPad',
        'iPhone',
        'iPod'
    ].includes(navigator.platform)
    if(iOS || true) {
        document.querySelector('#status-bar').style.removeProperty('display');
    }
</script>
<header>
    <div data-tippy-content="Supporting LGBTQ+ rights all around the year! ❤️<br><br>Click for a surprise. :)" class="pride-flag logo"></div>
    <a href="/" id="site_name">SkyCrypt</a>
    <button class="social-button expander" id="info-button" onclick="toggleInfo()" aria-expanded="false">
        About
    </button>
    <div id="info-box" class="expandable">
        <div id="info_box_content">
            <p>The SkyCrypt project is maintained by boblovespi, FantasmicGalaxy, MartinNemi03, metalcupcake5 and Shiiyu. It is an open-source project. </p>
            <p>You can report bugs, suggest features, or contribute to the code on <a class="link link-github" href="https://github.com/SkyCryptWebsite/SkyCrypt" target="_blank" rel="noreferrer">GitHub</a>. It would be much appreciated!</p>
            <p>Chat: <a class="link link-discord" href="https://discord.gg/cNgADv2kEQ">discord.gg/cNgADv2kEQ</a></p>
            <p>The original project, <a href="https://sky.lea.moe">sky.lea.moe</a>, was orginally created by <a class="link link-twitter" href="https://twitter.com/LeaPhant" target="_blank" rel="noreferrer">LeaPhant</a>. Thanks for all of what you've done Lea!</p>
            <h4>Used Resources</h4>
            <ul>
                <li>Data: <a rel="noreferrer" href="https://api.hypixel.net/" target="_blank">Hypixel API</a> by <span class="name">Hypixel</span>.</li>
                <li>Animated Custom Weapons and Armors: <a rel="noreferrer" href="https://hypixel.net/threads/2138599/" target="_blank">FurfSky+</a> by <span class="name">Furf__</span>.</li>
                <li>Additional Custom Textures: <a rel="noreferrer" href="https://hypixel.net/threads/2147652/" target="_blank">Vanilla+</a> by <span class="name">TBlazeWarriorT</span>.</li>
                <li>Default Textures: <a rel="noreferrer" href="https://www.minecraft.net/" target="_blank">Minecraft</a> by <span class="name">Mojang</span>.</li>
                <li>Player Heads: <a rel="noreferrer" href="https://hypixel.net/forums/skyblock.157/" target="_blank">SkyBlock</a> by <span class="name">Hypixel</span>.</li>
                <li>Background Resource Pack: <a rel="noreferrer" href="https://www.planetminecraft.com/texture_pack/16x132-dandelion-cute-and-swirly/" target="_blank">Dandelion</a> by <span class="name">Steelfeathers</span>.</li>
                <li>Background Shaders: <a rel="noreferrer" href="https://sildurs-shaders.github.io/" target="_blank">Sildur's Vibrant Shaders</a> by <span class="name">Sildur</span>.</li>
                <li>Emojis: <a rel="noreferrer" href="https://twemoji.twitter.com/" target="_blank">Twemoji</a> by <span class="name">Twitter</span>.</li>
                <li>Skin Renderer: <a rel="noreferrer" href="https://github.com/bs-community/skinview3d/" target="_blank">skinview3d</a> by <span class="name">Blessing Skin</span>.</li>
                <li>Weight Calculations: <a rel="noreferrer" href="https://github.com/Senither/hypixel-skyblock-facade" target="_blank">Hypixel SkyBlock Facade</a>(and other cool projects) by <span class="name">Senither</span>.</li>
            </ul>
        </div>
    </div>
    
    <a href="/api" style="text-decoration: none;" class="social-button" id="api_button">API</a>
    <% if('donations' in extra){ %>
        <a title="Patreon" target="_blank" rel="noreferrer" href="https://patreon.com/shiiyu" class="social-button patreon"><span><%= extra.donations.patreon %> Patrons</span><div class="social-icon"></div></a>
    <% } %>
    <form class="lookup-player">
        <input name="ign" type="search" enterkeyhint="go" placeholder="Enter username" aria-label="username" required>
        <button type="submit" aria-label="search"></button>
    </form>
    <a href="https://blacklivesmatters.carrd.co/" target="_blank" rel="noreferrer" data-tippy-content="<strong>Black Lives Matter!</strong><br><br>Click for a collection of links on how to support the fight against racial inequality." class="blm-logo" aria-label="Black Lives Matter"></a>
    <button id="themes-button" class="expander" aria-expanded="false"><span>Themes</span></button>
    <div id="themes-box" class="expandable list">
        <% for(const theme_id in extra.themes){
            const theme = extra.themes[theme_id];
            if(theme.hidden) continue; %>
        <label class="list-item">
            <% let icon = theme.logo.replace("../", "/resources/"); %>
            <img class="icon" src="<%= icon %>" alt="" loading="lazy">
            <span class="name"><%= theme.name %></span>
            <div class="author">by <span><%= theme.author %></span></div>
            <input type="radio" name="theme" value="<%= theme_id %>">
        </label>
        <% } %>
    </div>
    <% if (page != 'api') { %>
        <button id="packs-button" class="expander" aria-expanded="false"><span>Packs</span></button>
        <div id="packs-box" class="expandable list">
            <%
                const defaultPack = {
                    name: "Default",
                    author: "Various Artists",
                    basePath: "/resources/img",
                    url: "",
                    id: null
                }
            %>
            <% for(const pack of [defaultPack, ...extra.packs].filter(a => !a.hidden)) { %>
                <label class="list-item">
                    <img class="icon pack-icon" src="<%= pack.basePath + '/pack.png' %>" alt="" loading="lazy">
                    <a class="name" href="<%= pack.url %>" target="_blank" rel="noreferrer"><%= pack.name %> <% if(pack.version){ %><small><%= pack.version %></small><% } %></a><br>
                    <div class="author">by <span><%= pack.author %></span></div>
                    <button
                        name="pack"
                        value="<%= pack.id %>"
                        <% if (pack.disabled) { %>
                            title="Disabled due to unknown issues."
                            disabled
                        <% } else if (req.cookies.pack == pack.id) { %>
                            aria-selected
                            disabled
                        <% } %>
                    ></button>
                </label>
            <% } %>
        </div>
    <% } %>
</header>
<noscript style="
    position: fixed;
    top: 48px;
    width: 100%;
    background-color: #000;
    color: #ff4444;
    font-size: 8vw;
    z-index: 10000;
">
    please enable JavaScript!
</noscript>


