<div id="not_supported">
    Your Browser is not supported. Please get <a href="https://www.mozilla.org/firefox/new">Mozilla Firefox</a> or <a href="https://www.google.com/chrome/">Google Chrome</a>.
</div>
<script>
    if(navigator.userAgent.indexOf("MSIE") >= 0){
        document.getElementById('not_supported').className = 'show-not-supported';
    }
</script>
<header class="page-<%= page %>">
    <div data-tippy-content="Supporting LGBTQ+ rights all around the year! ❤️<br><br>Click for a surprise. :)" class="pride-flag logo"></div>
    <a href="/" id="site_name">SkyCrypt</a>
    <div class="social-button" id="info_button" onclick="toggleInfo()">About</div>
    <a href="/api" style="text-decoration: none;">
        <div class="social-button" id="api_button">API</div>
    </a>
    <% if('donations' in extra){ %>
        <a title="Patreon" target="_blank" rel="nofollow" href="https://patreon.com/shiiyu" class="social-button patreon"><span><%= extra.donations.patreon %> Patrons</span><div class="social-icon"></div></a>
    <% } %>
    <div id="search_user"><input placeholder="Enter username" <% if(page == 'index'){ %>tabindex="-1"<% } %> type="text" id="inp_search_user"></input><a href="#" <% if(page == 'index'){ %>tabindex="-1"<% } %> id="btn_search_user"></a></div>
    <a href="https://blacklivesmatters.carrd.co/" target="_blank" rel="nofollow" data-tippy-content="<strong>Black Lives Matter!</strong><br><br>Click for a collection of links on how to support the fight against racial inequality." class="blm-logo"></a>
    <div id="themes_button" onclick="toggleThemes()"><span>Themes</span></div>
    <div id="packs_button" onclick="togglePacks()"><span>Packs</span></div>
</header>
<div id="info_box">
    <div onclick="toggleInfo()" id="info_close"></div>
    <div id="info_box_content">
        <p>The SkyCrypt project is maintained by boblovespi, FantasmicGalaxy, MartinNemi03, metalcupcake5 and Shiiyu. It is an open-source project. </p>
        <p>You can report bugs, suggest features, or contribute to the code on <a class="link link-github" href="https://github.com/SkyCryptWebsite/SkyCrypt" target="_blank">GitHub</a>. It would be much appreciated!</p>
        <p>Chat: <a class="link link-discord" href="https://discord.gg/cNgADv2kEQ">discord.gg/cNgADv2kEQ</a></p>
        <p>The original project, <a href="https://sky.lea.moe">sky.lea.moe</a>, was orginally created by <a class="link link-twitter" href="https://twitter.com/LeaPhant" target="_blank">LeaPhant</a>. Thanks for all of what you've done Lea!</p>
        <h4>Used Resources</h4>
        <ul>
            <li>Data: <a rel="nofollow" href="https://api.hypixel.net/" target="_blank">Hypixel API</a> by <span class="name">Hypixel</span>.</li>
            <li>Animated Custom Weapons and Armors: <a rel="nofollow" href="https://hypixel.net/threads/2138599/" target="_blank">FurfSky+</a> by <span class="name">Furf__</span>.</li>
            <li>Additional Custom Textures: <a rel="nofollow" href="https://hypixel.net/threads/2147652/" target="_blank">Vanilla+</a> by <span class="name">TBlazeWarriorT</span>.</li>
            <li>Default Textures: <a rel="nofollow" href="https://www.minecraft.net/" target="_blank">Minecraft</a> by <span class="name">Mojang</span>.</li>
            <li>Player Heads: <a rel="nofollow" href="https://hypixel.net/forums/skyblock.157/" target="_blank">SkyBlock</a> by <span class="name">Hypixel</span>.</li>
            <li>Background Resource Pack: <a rel="nofollow" href="https://www.planetminecraft.com/texture_pack/16x132-dandelion-cute-and-swirly/" target="_blank">Dandelion</a> by <span class="name">Steelfeathers</span>.</li>
            <li>Background Shaders: <a rel="nofollow" href="https://sildurs-shaders.github.io/" target="_blank">Sildur's Vibrant Shaders</a> by <span class="name">Sildur</span>.</li>
            <li>Emojis: <a rel="nofollow" href="https://twemoji.twitter.com/" target="_blank">Twemoji</a> by <span class="name">Twitter</span>.</li>
            <li>Skin Renderer: <a rel="nofollow" href="https://github.com/LeaPhant/skinview3d/" target="_blank">skinview3d</a> by <span class="name">Blessing Skin</span>.</li>
        </ul>
    </div>
</div>
<div id="themes_box" class="themes-closed">
    <div onclick="toggleThemes()" id="themes_close"></div>
    <% for(const theme in extra.themes){
        if(extra.themes[theme].hidden) continue; %>
    <div class="theme">
        <% let icon = extra.themes[theme].logo.replace("../", "https://sky.shiiyu.moe/resources/"); %>
        <img class="theme-icon" src="<%= icon %>">
        <span class="theme-name"><%= extra.themes[theme].name %></span>
        <div class="theme-author">by <span><%= extra.themes[theme].author %></span></div>
        <div class="switch_themes_button" id="<%= theme %>-theme" onclick="switchTheme('<%= theme %>')">Switch</div>
    </div>
    <% } %>
</div>
<div id="packs_box" class="packs-closed">
    <div onclick="togglePacks()" id="packs_close"></div>
    <div class="resource-pack">
        <img class="pack-icon" src="/resources/img/pack.png">
        <a class="pack-name" href="/" target="_blank">Default</a><br>
        <div class="pack-author">by <span>LeaPhant, various</span></div>
        <% if(page == 'stats'){ %>
            <% if(!req.cookies.pack){ %>
                <div class="selected_button">In Use</div>
            <% } else { %>
                <div class="switch_packs_button" onclick="switchPack()">Switch</div>
            <% } %>
        <% } %>
    </div>
    <% for(const pack of extra.packs.filter(a => !a.hidden).sort((a, b) => b.priority - a.priority)){ %>
        <div class="resource-pack">
            <img class="pack-icon" src="<%= pack.basePath + '/pack.png' %>">
            <a class="pack-name" href="<%= pack.url %>" target="_blank"><%= pack.name %></a><br>
            <div class="pack-author">by <span><%= pack.author %></span></div>
            <% if(page == 'stats'){ %>
                <% if(pack.id == "SKYBLOCK_PACK"){ %>
                    <div class="selected_button" title="Disabled due to unknown issues." disabled>Disabled</div>
                <% } else { %>
                    <% if(req.cookies.pack == pack.id){ %>
                        <div class="selected_button">In Use</div>
                    <% } else { %>
                        <div class="switch_packs_button" onclick="switchPack('<%= pack.id %>')">Switch</div>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    <% } %>
</div>
